@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
	background: #232A34;
    background-image: url('../Assets/FeedBack/feedback.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.contact_wrapper { 
	padding: 80px 0;

}

.form_wrap {
    padding: 25px;
    box-shadow: 1px 4px 25px #131010;
    border-radius: 10px;
    max-width: 870px;
    margin: 0 auto;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.274);
}

.head_text {
	font-size: 35px;
	font-weight: 600;
	color: #ffffff;
	padding-bottom: 40px;
}

.input_info {
	width: 100%;
	height: 50px;
	border-radius: 30px;
	border: 1px solid #2d343e;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 10px 10px 30px;
	background: #00000000;
}

.mt_30 {
	margin-top: 30px;
}

.textarea_info {
	height: 150px;
	resize: none;
	padding-top: 10px;
}

.make_btn {
	border-radius: 30px;
	color: #ffffff;
	padding: 15px 27px;
	text-transform: capitalize;
	background: #d9dfdc98;
	cursor: pointer;
	font-weight: 600;
	border: transparent;
	transition: .3s;
}

.make_btn:hover {
	background: #ffffff;
	color: #000000;
}




/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1399px){

}
@media (min-width: 1400px) { 

}
@media (min-width: 1200px) { 

}

@media (max-width: 1199px) { 

}

@media (max-width: 991px) {
	.custom_mt {
		margin-top: 30px;
	}
}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767px) {

}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575px) {

	.input_info {
		margin-top: 30px;
	}
}